.title {
  font-size: 3rem;
  color: #1379c2;
}

.myStyle h1 {
  font-size: 4.5rem;
}

.myStyle h2 {
  font-size: 3.5rem;
}

.myStyle h3 {
  font-size: 3rem;
}

.myStyle h4 {
  font-size: 2.5rem;
}

.myStyle h5 {
  font-size: 2rem;
}

.myStyle h6 {
  font-size: 1.5rem;
}

.mySpan {
  display: inline-block;
  /* 外间距 */
  /* margin: 100px; */
  margin: 5px 10px;
  /* 内间距 */
  padding: 5px 15px;
  /* 字体颜色 */
  color: #fff;
  /* 背景颜色 */
  background: linear-gradient(to right bottom, #131313, #ec5adb);
  /* 圆角处理 */
  border-radius: 20px;
  /* 鼠标手样式 */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mySpan:hover {
  box-shadow: 8px 8px 12px -7px rgba(61, 16, 105, 0.62);
  background: linear-gradient(to right bottom, #ec5adb, #131313);
  border: 2px dashed #131313;
}

.mySpan:active {
  background: #ec5adb;
  color: rgb(76, 67, 72);
  transform: scale(2);
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header a {
  text-decoration: none;
}

header img.headphoto {
  margin: 0;
  padding: 0;
  width: 50px;
  border-radius: 50%;
}

section.mySection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mySection p {
  max-width: 800px;
  text-align: justify;
  color: rgb(94, 85, 94);
}

.toTop a {
  text-decoration: none;
}

.toTop span {
  position: fixed;
  right: 0;
  top: 100px;
  width: 60px;
  height: 100px;
  display: grid;
  place-items: center;
  background-color: #188fff84;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
  color: #fff;
}

.html::selection {
  background-color: red;
  color: white;
}

.css::selection {
  background-color: blue;
  color: white;
}

.javascript::selection {
  background-color: black;
  color: gold;
}

video {
  margin-top: 30px;
  width: 800px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px;
}

audio {
  width: 800px;
  margin-top: 20px;
  height: 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right bottom, rgb(239, 158, 202), #807f80 100%);
}