:root {
  --font-color: #772475;
}

body {
  display: flex;
  justify-content: center;
}

.mySpan {
  /* 外间距 */
  /* margin: 5px 0; */
  /* 内间距 */
  padding: 5px 10px;
  /* 字体颜色 */
  color: #fff;
  /* 背景颜色 */
  background-color: #1379c2;
  /* 圆角处理 */
  border-radius: 5px;
  /* 鼠标手样式 */
  cursor: pointer;

}

img {
  display: inline;
  width: 280px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px;
  background-image: cover;
}

h1 {
  text-align: center;
  color: #772475;
}

p {
  max-width: 600px;
  text-align: justify;
}

.introduction {
  display: flex;
  gap: 50px;
}

.paragraph {
  margin: 50px auto 50px auto
}

ul {
  /* list-style: none; */
  /* list-style-type: square; */
  list-style-image: url("../img/1.svg");
}

ol {
  list-style-image: url("../img/1.svg");
}

li {
  margin: 10px;
  padding: 10px;
}


.background {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right bottom, white, #f5b5f4 100%);
}

table {
  width: 650px;
  border: 1px solid;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
  text-align: center;
}

.table-blue {
  background-color: lightblue;
}

.table-pink {
  background-color: #f5e4f4;
}

thead th {
  text-transform: uppercase;
}

.go_back_to_home {
  color: var(--font-color);
  border: 2px solid #d481e3;
  border-radius: 25px;
  display: inline-block;
  padding: 5px 8px;
  width: 180px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 50px auto;
}

.go_back_to_home:hover {
  color: var(--font-color);
  background: linear-gradient(to right, #e66465, #9198e5);
  border: 2px solid rgb(172, 172, 229);
}

.go_back_to_home:active {
  color: var(--font-color);
  transform: rotate(20deg);
  background: linear-gradient(to right, #e66465, #9198e5);
  border: 2px solid rgb(172, 172, 229);
}